.span10
  .wrapper
    %h2.page-title About
    .span5{:style => "margin-left: 0px;"}
      .thumbnail.box
        %img{:alt => "", :src => "images/portfolio/thumbnail/photo1.jpg"}/
    .span5.box
      .tabbable
        %ul#tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} Biography
        .tab-content
          #tab1.tab-pane.active
            %p{:style => "line-height: 17px;"}
              Currently, Paul is a Lead Software Engineer at Mogreet Inc, a mobile advertising startup that specializes in delivering video to mobile handsets. Paul architected and developed the Mogreet Campaign Manager, a full-featured web application used by all of Mogreet's clients to create mobile SMS/MMS campaigns and analyze their metrics. 
              %br
              %br
              Prior to working at Mogreet, Paul was a software engineer at Monster Worldwide Inc. He designed and implemented the job search engine for their highly trafficked student job board. He would go on to become a Technical Lead for Monster, where he oversaw and mentored a team of engineers. Before joining Monster, Paul was a web developer for Aestiva Software, Inc. where he built various web applications from Purchase Order automation to e-commerce platforms.
              %br
              %br
              When he's not geeking out on new programming languages, message queues, and NoSQL databases, Paul enjoys spending time with his wife and son, brewing his own beer, traveling, and going to concerts.